.elements__container {
  width: 880px;
  margin: 50px auto 67px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 17px;
}

.element__card {
  background-color: white;
  color: black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 282px;
  height: 361px;
  border-radius: 10px;
  opacity: 0px;
}

.element__img {
  width: 282px;
  height: 282px;
}
.element__content {
  display: flex;
  justify-content: space-between;
  margin: 25px 15px 31px 21px;
  gap: 10px;
}

.element__text {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
}

.element__like {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.element__like img {
  width: 21px;
  height: 19px;
  margin: 5px 3px -1px auto;
}

@media (min-width: 501px) and (max-width: 768px) {
  .elements__container {
    width: 100%; /* Ajusta el ancho para adaptarse al contenedor */
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    padding: 0 20px; /* Agrega padding para un mejor espaciado en los bordes */
  }

  .element__card {
    width: 100%; /* Asegura que las tarjetas se adapten al contenedor */
    max-width: 340px; /* Limita el ancho máximo */
    height: auto; /* Permite que la altura se ajuste automáticamente */
  }
}

/*Media query para pantalla 320px*/

@media (max-width: 500px) {
  .elements__container {
    width: 100%; /* Ajusta el ancho al 100% para pantallas pequeñas */
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }

  .element__card {
    width: 100%; /* Asegura que las tarjetas se adapten al contenedor */
    max-width: 280px; /* Ajusta el ancho máximo para pantallas pequeñas */
    height: auto; /* Permite que la altura se ajuste automáticamente */
  }
}
