.popup {
  width: 430px;
  height: 330px;
  border: 1px;
  position: fixed;
  z-index: 10;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: white;
  color: black;
  top: 25%;
  left: 40%;
  bottom: 50%;
}

.popup__form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 430px;
  height: 330px;
  background-color: white;
  color: black;
  flex-direction: column;
}

.popup__show {
  display: flex;
}

.form__close-button {
  width: 40px;
  height: 40px;
  rotate: 45deg;
  margin: 146.72px 300px 321px 421.72px;
  left: 900px;
}

.form__title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  width: 330px;
}
.form__name {
  width: 358px;
  height: 27.26px;
  margin: 54px 37px 29.74px 36px;
  border-top: 1px;
  border-color: #c4c4c4;
  color: #c4c4c4;
}

.form__hobbie {
  width: 358px;
  height: 27.34px;
  border: 1px;
  margin: 0 37px 48px 36px;
  border-top: 1px;
  border-color: #c4c4c4;
  color: #c4c4c4;
}

.form__submit {
  width: 358px;
  height: 50.15px;
  border-radius: 2px;
  background-color: black;
  color: white;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  margin: 0px auto 36.51px auto;
}
