.popup {
  width: 100%;
  height: 100%;
  border: 1px;
  position: fixed;
  z-index: 10;
  justify-content: center;
  align-items: center;
  display: none;
  top: 0;
  left: 0;
}

.popup__overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Opacidad inicial */
  transition: background-color 0.3s ease; /* Animación suave */
  position: fixed; /* Asegura que el overlay cubra toda la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__overlay--dark {
  background-color: rgba(0, 0, 0, 0.8); /* Opacidad más oscura */
}

.popup__form {
  display: flex;
  align-items: center;
  width: 430px;
  height: 330px;
  background-color: white;
  flex-direction: column;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega sombra para mejorar la estética */
  border-radius: 8px; /* Bordes redondeados para mejorar la estética */
}

.popup__show {
  display: flex;
}

.form__close-button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -50px;
  left: 446px;
  cursor: pointer; /* Añade cursor pointer para indicar que es clickeable */
}

.form__title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  width: 330px;
  margin-top: 54px;
}

#input-name,
#input-hobbie {
  width: calc(100% - 74px); /* Ajusta el ancho para padding/margins */
  height: 27px;
  margin: 20px 0; /* Margen superior/inferior uniformes */
  border: 1px solid #c4c4c4; /* Especifica el estilo de borde completo */
  color: #333; /* Cambia el color de texto para mejorar la visibilidad */
  padding: 5px; /* Agrega padding para mejor usabilidad */
  border-radius: 4px; /* Bordes redondeados para mejor estética */
}

.form__submit {
  width: 358px;
  height: 50.15px;
  border-radius: 2px;
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  margin: 0 auto; /* Centra el botón horizontalmente */
  cursor: pointer; /* Añade cursor pointer para indicar que es clickeable */
  border: none; /* Remueve el borde del botón */
}
