.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 880px;
  height: 120px;
  margin: auto;
  gap: 0px;
  opacity: 0px;
}

.profile__info {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin-bottom: 20px;
  flex-direction: column;
}

.profile__avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  top: 159px;
  left: 200px;
  gap: 0px;
  opacity: 0px;
}

.profile__name {
  font-family: Inter;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
}

.profile__hobbie {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
}

.profile__edit-button {
  margin: 0px;
}

.profile__content {
  display: flex;
  gap: 18px;
}

.edit__button {
  width: 24px;
  height: 24px;
  margin-top: 15px;
}
